@import url('https://fonts.googleapis.com/css2?family=Montserrat&display');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display');

html,body{
    max-width:100%;
    min-height:100vh;
    margin:0;
    padding:0;
    font-family:'Montserrat', sans serrif;
    background-color: #ffffff;
    color:#1b96c8;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header{
    display:flex;
    justify-content:center;
    align-items: center;
    padding:5px,5px;
    height:10%;
    background-color: #ffffff;
    color:#1b96c8;
}

.logo img{
    height:10%;
    width:auto;
    position:absolute;
    top:0.5%;
    right:1%;
}

.title{
    font-size:5vh;
    font-weight:600;
    position:fixed;
    top:0%;
    align-self: center;
}

.nav {
    overflow:visible;
    position:absolute;
    text-wrap-mode: nowrap;
    top:0%;
    left:1%;
    width:15%;
    height:10%;
}


.navlist {
    list-style: none;
    display: flex;
    margin:0;
    padding:20px;
    overflow: visible;
}

.navlist li{
    position:relative;
    margin-left:20px;
}

.navlist > li > a{
    display: block;
    right:1%;
    color:#1b96c8;
    text-decoration: none;
    font-size: 4vh;
    text-wrap-mode:nowrap;
    font-weight:600;
    transition: color 0.3s;
}

.navlist > li > a:hover{
    color:#1b97c88c;
}

.dropdown-menu {
    display: none;
    position:absolute;
    text-align: left;
    list-style-type: disc;
    background-color: #bebebe;
    color:#1b96c8;
    font-weight:600;
    z-index: 1000;
}

.dropdown-menu li a {
    color:#1b96c8;
    background-color: #bebebe;
    padding:10px,10px;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    color:#1b97c88c;
}

.dropdown:hover .dropdown-menu {
    display:block;
}

.main{
    display: block;
    position:absolute;
    top:10%;
    align-items: center;
    min-height:80vh;
    min-width: 100%;
    background-color: #f5f8fa;
}

.decal img{
    width:100%;
    height:4vh;
}

.intro-title{
    color:#1b96c8;
    font-size:3.5vh;
    font-weight:600px;
    text-align:center;
}

.intro{
    color:#1b96c8;
    font-size:2.5vh;
    text-align:center;
}

.wip{
    display:flex;
    justify-content: center;
    align-self: center;
}

.wip img{
    width:30%;
    height:auto;
}

.footer{
    position:absolute;
    bottom:0;
    left:0;
    background-color:#3d3d3d;
    width:100%;
    height:10vh;
    padding-left:2%;
    z-index:3;
    }

.foot-text{
    font-size:2vh;
    font-weight:600;
}

.info{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.9vh;
    color:#1b96c8;
}

 .now-cont{
    display:block;
    justify-content: space-between;
    border: 3px dashed #888;
    padding:1vh 1vh;
    text-align: left;
    width:45%;
    color:#1b96c8;
    font-size:1.8vh;
    width:45%;
    position:absolute;
    left:2.5%;
 }

.soon-cont{
    display:block;
    justify-content: space-between;
    border: 3px dashed #888;
    padding:1vh 1vh;
    text-align: left;
    color:#1b96c8;
    font-size:1.8vh;
    width:45%;
    position:absolute;
    right:2.5%;
}

.cont-lk{
    font-size:1.9vh;
    font-weight:700;
    color:#1b96c8;
    text-decoration: underline;
    transition-duration: color 0.3s;
}

.cont-lk:hover{
    color:#1b97c88c;
}

.Hey-You{
    font-size:3.5vh;
    color:#1b96c8;
    text-decoration: underline;
    text-align: center;
}

.Not-Allowed{
    font-size:2.5vh;
    font-weight:550;
    text-align: center;
    text-decoration: none;
}

.criminal{
    width:60%;
    height:auto;
    position:absolute;
    left:10%;
}

.cop{
    width:60%;
    height:auto;
    position:absolute;
    left:70%
}

.contact-big{
    font-size:4vh;
    font-weight: 600;
    color:#1b96c8;
    text-align: center;
}

.contact-small{
    font-size:2vh;
    font-weight:450;
    color:#1b96c8;
    text-align:center;
}

.big-404{
    display:block;
    position:absolute;
    align-self: center;
    left:30%;
    top:30%;
    font-size: 7vh;
}

.small-404{
    display:block;
    position:absolute;
    align-self: center;
    font-size:2vh;
    left:15%;
    top:50%;
}

.feedback-form{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    top:5%;
    width:100%;
    min-height:25vh;
}

    .name-label{
        color:#1b96c8;
        font-size:1.4vh;
        font-weight:450;
        position:absolute;
        left:40%;
        top:0;
    }

    .name-box{
        background-color:#f5f8fa;
        color:black;
        font-size:1.4vh;
        font-weight:450;
        position:absolute;
        left:40%;
        top:2vh;
        border-color:#1b96c8;
        width:20%;
    }

    .feedback-label{
        color:#1b96c8;
        font-size:1.4vh;
        font-weight:450;
        position:absolute;
        top:5vh;
        left:40%
    }

    .feedback-box{
        background-color:#f5f8fa;
        color:black;
        font-size:1.4vh;
        font-weight:450;
        position:absolute;
        left:40%;
        top:7vh;
        border-color:#1b96c8;
        height:8vh;
        width:20%;
    }
    .submit-button{
        background-color:#1b96c8;
        color:#ffffff;
        font-size:1.4vh;
        font-weight:500;
        position:absolute;
        top:18vh;
        left:47.5%;
    }

.feedback-resp{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:absolute;
    top:50vh;
    width:100%;
    height:5vh;
}

.upload-text {
    text-align: center;
}

.drop-area {
    position:absolute;
    right:10%;
    top:41%;
    width:50%;
    max-width: 500px;
    margin:10px;
    padding: 75px;
    border: 3px dashed #888;
    text-align: center;
    font-family: sans-serif;
    color: #555;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.drop-area.dragover {
    background-color: #e0ffe0;
    border-color: #00aa00;
}

.drop-area:hover {
    background-color:#e0ffe0;
    border-color:#00aa00;
    cursor: pointer;
}

.output {
    white-space: pre-wrap;
    margin-top: 20px;
    font-family: monospace;
}

.uploader {
    display:none;
}

.look-out-for {
    display:block;
    justify-content: center;
    text-align: center;
    position:absolute;
    top:45%;
    left:6.5%;
    font-size: 1.8vh;
}

.dropdown {
    position:absolute;
    top:32.5%;
    right:13%;
    text-align: auto;
    z-index:3;
}

.dropdown label{
    text-align:center;
    position:relative;
    right:17.5%;
    font-weight:500;
    color:#f5f8fa;
}

.submit-lab {
    position:absolute;
    right:50%;
    top:1400%;
    height:63px;
    width:162.5px;
    background-color: #1b96c8;
    color:#ffffff;
    font-size:2vh;
}

.liquid-head {
    position:absolute;
    display: flex;
    left:1%;
    top:20%;
    color:#1b96c8;
    font-size:2.75vh;
}

.liquid-options {
    display:block;
    justify-content: space-between;
    text-align: left;
    width:45%;
    color:#1b96c8;
    font-size:2vh;
    width:45%;
    position:absolute;
    top:27.5%;
    left:2.5%;
}
    .liquid-options li {
        position:relative;
        margin-left:20px;
    }

    .liquid-options > li > a{
        display: block;
        right:1%;
        color:#1b96c8;
        text-decoration: none;
        font-size: 2vh;
        text-wrap-mode:nowrap;
        font-weight:500;
        transition: color 0.3s;
    }

    .liquid-options > li > a:hover{
        color:#1b97c88c;
    }

    .tooltip {
        position:relative;
        display:inline-block;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            font-size: 1.25vh;
            text-wrap-mode:nowrap;
            width:fit-content;
            background-color:#888;
            color:#ffffff;
            text-align:center;
            padding:5px 5px;
            border-radius:6px;
            position:absolute;
            margin:0 1%;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
.test-format {
    color:#1b96c8;
    text-decoration: none;
    font-size:2vh;
}

.solid-head {
    position:absolute;
    display: flex;
    right:45%;
    top:20%;
    color:#1b96c8;
    font-size:2.75vh;
}

.solid-options {
    display:block;
    justify-content: space-between;
    text-align: left;
    width:45%;
    color:#1b96c8;
    font-size:2vh;
    width:45%;
    position:absolute;
    top:27.5%;
    right:5%;
}
    .solid-options li {
        position:relative;
        margin-left:20px;
    }

    .solid-options > li > a{
        display: block;
        right:1%;
        color:#1b96c8;
        text-decoration: none;
        font-size: 2vh;
        text-wrap-mode:nowrap;
        font-weight:500;
        transition: color 0.3s;
    }

    .solid-options > li > a:hover{
        color:#1b97c88c;
    }

.bottom-text {
    text-align:center;
    font-size: 2.5vh;
    position:absolute;
    bottom: 2vh;
    left:15%;
}

.ds-suite{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    position:absolute;
    left:2%;
 }

.topa-suite{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    position:absolute;
    left:22.5%;
 }

.storm-suite{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    position:absolute;
    left:40%;
 }

.dml-suite{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    position:absolute;
    left:58%;
 }

.irrigation-suite{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    position:absolute;
    left:78%;
 }

 .down-title{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:2vh;
    font-weight:600;
    text-decoration: none;
    position:absolute;
    top: 58%;
    left:1%;
 }

 .ds-down{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    text-decoration: none;
    position:absolute;
    top: 65%;
    left:2%;
    transition-duration: 0.3s;
 }

 .ds-down:hover{
    color:blue;
 }

  .topa-down{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    text-decoration: none;
    position:absolute;
    top: 65%;
    left:24%;
    transition-duration: 0.3s;
 }

 .topa-down:hover{
    color:blue;
 }

.storm-down{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    text-decoration: none;
    position:absolute;
    top: 65%;
    left:40%;
    transition-duration: 0.3s;
 }

.storm-down:hover{
    color:blue;
 }

 .dml-down{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    text-decoration: none;
    position:absolute;
    top: 65%;
    left:60%;
    transition-duration: 0.3s;
 }

.dml-down:hover{
    color:blue;
 }

.irrigation-down{
    display:block;
    justify-content: space-between;
    padding:1vh 1vh;
    text-align: left;
    width:fit-content;
    color:#1b96c8;
    font-size:1.8vh;
    text-decoration: none;
    position:absolute;
    top: 65%;
    left:79%;
    transition-duration: 0.3s;
 }

.irrigation-down:hover{
    color:blue;
 }

.download-title{
    position:absolute;
    display: flex;
    left:1%;
    top:5%;
    color:#1b96c8;
    font-size:2.5vh;
}

.cat-label{
    position:absolute;
    display: flex;
    left: 2%;
    top: 20%;
    font-size: 2vh;
    font-weight:600;
}

select{
    position:absolute;
    display: flex;
    font-size: 1.5vh;
    font-weight:400;
}

.category-list{
    top:25%;
    left:2%;
    width:max-content;
}

.analyte-label{
    position:absolute;
    display: flex;
    Left:20%;
    top:20%;
    font-size: 2vh;
    font-weight: 600;
}

.analyte-list{
    left:20%;
    top:25%;
    width:20%;
}

.dropdown-dsdams{
    width:30%;
    padding:0 10% 25%;
    position:absolute;
    top:33.5%;
    z-index: 3;
}

.group{
    margin-bottom:2%;
}

.group-header{
    cursor:pointer;
    font-weight:bold;
    background:#eee;
    padding:1%;
}

.options{
    display:none;
    margin-left:2%;
    background-color:#888;
    color:#ffffff;
    max-height:40vh;
    width:inherit;
    overflow-y:auto;
    z-index:3;
}

.options label {
    display:block;
}

.dsdownbutton{
    position:absolute;
    left:17.5%;
    top:29.5%;
    width:15%;
    height:5%;
    background-color: #1b96c8;
    color:#ffffff;
    font-weight: 500;
    font-size:2vh;
    z-index:3;
}

.startd{
    position:absolute;
    margin:10px;
    padding:1% 24.5% 1% 1%;
    background-color:#eee;
    left:9.5%;
    top:39.5%;
    font-weight:600;
    z-index: 2;
}

.startinput{
    position:absolute;
    margin:1%;
    padding:0.25%;
    background-color:#ffffff;
    left:16%;
    top:40%;
    font-weight:500;
    border:2px solid #888;
    z-index: 2;
}

.endd{
    position:absolute;
    margin:10px;
    padding:1% 25% 1% 1%;
    left:25%;
    top:39.9%;
    font-weight:600;
    z-index: 2;
}

.endinput{
    position:absolute;
    margin:1%;
    padding:0.25%;
    background-color:#ffffff;
    left:31%;
    top:40%;
    font-weight:500;
    border:2px solid #888;
    z-index: 2;
}

.download-head{
    position:absolute;
    left:21%;
    top:17.5%;
    font-size:2.5vh;
}

.upload-head{
    position:absolute;
    right:23.5%;
    top:17.5%;
    font-size:2.5vh;
}

.updown-container{
    position:absolute;
    top:16%;
    width:100%;
    height:100%;
    z-index:1;
    border-top: 2px solid #555;
}

.testdroplabel{
    position:absolute;
    top:20%;
}